@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PropertyPlus</h1>
    <h2>Property Management made easy</h2>
    <p1>Whether you have one unit or more.</p1>
    <p2>PropertyPlus have simple and manageable tools to manage your business.</p2>
    <img src="https://media.gettyimages.com/photos/three-small-houses-in-row-picture-id595504906?s=2048x2048" width="1000" />

</div>
