@{ ViewData["Title"] = "Home Page";}

<body>

<div class="text-center">
    <h1 class="display-4">Welcome to PropertyPlus+</h1>
</div>
</body>
<div class="text-center">
    <style>
        p {
            display: compact;
            font-style: italic;
            font-size: 16px;
            color: black;
            font-size: medium;
            border-bottom-style: groove;
            background-color: white;
        }
    </style>
    <p>
        Property Management made easy.
        Whether you have one unit or more.
        PropertyPlus have simple and manageable tools to manage your business.

    </p>
    <img src="https://media.gettyimages.com/photos/three-small-houses-in-row-picture-id595504906?s=2048x2048" object-fit: scale-down;" style="width: 100%; height: auto;" />
</div>


